.contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    /* grid-template-columns: 2fr 1fr; */
    gap: 32px;
    height: 90vh;
    /* border: 1px solid rgba(233, 228, 228, 0.384); */
}


.info{
    text-align: start;
}

.b-contact{
    display: flex;
    gap: 12px;
}

@keyframes slideInFromLeft {
    0% {
      opacity: 0;
      transform: translateX(-100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .title {
    display: flex;
    flex-direction: column;
    animation: 1.4s ease-out 0s 1 slideInFromLeft;
  }
  .contact-desc{
    font-size: 1.5rem;
  }
@media (width <= 1050px ){
  .contacto{
      display: flex;
      flex-direction: column;
  }
  .contact-desc{
    font-size: 1.2rem;
  }
}
