.experiencia{
  padding: 0 !important;
  box-sizing: border-box;
  margin-right: auto;
  margin-left: auto;
}

.experiencia-contenido{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.experiencia-contenido >span{
  font-size: 3rem;
}

.cards-section{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  box-sizing: border-box;
}

.technologies{
  display: grid;
  justify-items: end;
  align-items: center;
  grid-template-columns: 2fr 1fr;
  text-align: start;
}

.technologies > span {
  font-size: 2rem;
}

.languages {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  justify-items: center;
  align-items: center;
  gap: 1rem;
  width: 80%;
  padding: 2rem;
  width: 90%;
  border-radius: calc(var(--curve) * 1px);
  backdrop-filter: blur(10px);
  background-color: rgba(50, 72, 82, 0.719);
}
.more{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: stretch;
  align-items: center;
}

.more > img{
  height: auto;
  filter: grayscale(100%);
}

.more > span{
  font-size: 2rem;
}
@media (width <= 700px) {
  .technologies{
    display: flex;
    flex-direction: column-reverse;
    justify-content: stretch;
    align-items: center;
  }
  .languages{
    background: #071b1bbd;
    width: 100%;
    margin-bottom: 2rem;    
  }
}
@media (width <= 1050px)  {
  .experiencia-contenido {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr); /* Todo se apila en columna */
  }
  .cards-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .technologies {

    grid-template-columns: 1fr 1fr;
    justify-content: stretch;
    align-items: center;
  }

  .conferencias {
    display: flex;
    flex-direction: column-reverse;
    justify-content: stretch;
    align-items: center;
  }

  .experiencia-contenido >span{
    font-size: 2rem;
  }
  
  .technologies > span {
    font-size: 1.5rem;
  }
  
  .more > span{
    font-size: 1.5rem;
  }
}

.reveal-object{
  animation: reveal-on 0.4s linear both;
  animation-timeline: view();
  animation-range: entry 10% cover 20%;
}

@keyframes reveal-on {
  0%{
    opacity: 0;
    transform: translateY(130px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}

  /* border: 1px solid red; */
  /* background-image: url(../../../assets/NN.webp);
  */