.hero {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  justify-content: space-evenly;
  margin-bottom: 8rem;
  overflow: hidden;
  height: 100%;
  box-sizing: border-box;
  width: 100%;
  /* border: 1px solid white; */
}

.presentacion {
  padding-top: 7rem;
  box-sizing: border-box;
}
.presentacion > span{
  font-size: 5rem;
}

.thumbnail-container{
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

@media (300px <= width <= 768px) {
  .thumbnail-container img{
    width: 90%;
  }
  .presentacion > span{
    font-size: 2rem;
  }
}