.me{
    display: flex;
    border-radius: 50px;
    padding: 20px;
    box-sizing: border-box;
    gap: 2rem;
    margin-bottom: 32px;
}
.my-description{
    display: grid;
    gap: 1rem;
    text-align: left;
    font-size: larger;
}
.image-avatar{
    width: 100%;
}

.hobbies{
    columns: 2;
    gap: 32px;
    padding: 16px;
}

.hobbies > .image-container{
    margin-bottom: 30px;
    width: 100%;
    height: auto;
    border: none;
    animation: reveal linear both;
    animation-timeline: view();
    animation-range: entry 15%  cover 25%;
}

.hobbies > .image-container:hover{
    cursor: pointer;
}
@media(width < 700px) {
    .me{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .image-avatar{
        width: 70%;
        background-color: bisque;
        border-radius: 100%;
    }
    .hobbies {
        display: flex;
        flex-direction: column;
    }
    .my-description{
    font-size: 1.2rem;
    }
}

@media ( 700px <= width < 1000px){
    .hobbies {
        columns: 2;
    }
}

@keyframes reveal {
    from{
        opacity: 0;
        translate: 0 130px;
    }
    to{
        opacity: 1;
        translate: 0 0;
    }
}
