.renders{
    perspective: 1000px;
}

.renders-title {
    position: sticky;
    top: 0; /* Ajusta este valor según necesites */
    z-index: 10; /* Asegúrate de que el título se sitúe sobre las otras tarjetas */    
}