.image-container{
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
}

.text-overlay{
    position: absolute;
    width: 100%;
    bottom: 0;
    right: 0;
    text-align: center;
    padding: 16px;
    margin: 0;
    font-size: 1.2rem;
    color: white;
    backdrop-filter: blur(5px);
    background-color: rgba(50, 72, 82, 0.719);
}

@media(width < 900px) {
   .text-overlay{
    font-size: 1rem;
   } 
}

.img-skeleton{
    background: rgb(131, 131, 131);
    width: 100%; /* Asegúrate de que coincida con el tamaño de tu imagen */
    height: 400px; /* O la altura que desees para tu skeleton */
    border-radius: 8px;
}

.card-image-history {
    display: block; /* Esto asegura que la imagen no tenga espacio extra debajo de ella */
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease-in-out;
    opacity: 0; /* Inicialmente oculto */
  }

  .card-image-history.visible {
    opacity: 1; /* Hacer la imagen visible cuando esté cargada */
  }
  
  .hidden {
    display: none; /* Ocultar la imagen cuando no esté cargada */
  }