/*Component: BackScroll */
  .smooth-back{
    display: none;
  }
  /* Component: ScrollItem */

  .scroll-indicator {
    display: grid;
    place-items: center;
    position: fixed;
    bottom: 40px;
    left: 0;
    right: 0;
  }
  
  .scroll-indicator p {
    margin: 0;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0.5;
    color: #ffffff;
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .scroll-indicator p:hover {
    transform: scale(1.1); /* Un ligero efecto de zoom al pasar el mouse por encima */
    opacity: 0.8; /* Un poco más opaco para el hover */
  }
  
  .line {
    width: 2px;
    height: 100px;
    background-color: #9dc4d3;
    transition: height 0.3s ease-out;
  }
  

  .contact-btn{
    border-radius: 5px;
    width: 100px;
    height: 30px;
    border: 1px solid white;
    color: #fff;
    font-weight: 500;
    margin: 20px 0;
    cursor: pointer;
  }
  .contact-btn.green{
    background-color: #47c558;  
  }
  .contact-btn.gray{
    background-color: #1a4955;  
  }
  .contact-btn.blue{
    background-color: #4998ff;  
  }


  /* COmponente del boton para abrir sidebar */

.sidebar-menu{
  backdrop-filter: blur(9px);
  background-color: rgba(50, 72, 82, 0.514);
  border:none;
  border-radius: 8px;
  padding: 4px;
  left: 5vw;
  top: 5vh;
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
}

.btn-container{
  display: grid;
  margin-bottom: 3rem;
  justify-content: end;
  padding-right: 20px;
}
.btn-contact{
  display: flex;
  justify-content: center;
  align-items: start;
  margin: auto;
  border: 1px solid white;
  border-radius: 10px;
  padding: 10px;
  transition: 0.3s ease;
}
.btn-contact:hover{
  background-color: rgba(76, 83, 87, 0.781);
}
