/*Component: BackScroll */
  .smooth-back{
    display: none;
  }
  /* Component: ScrollItem */

  .scroll-indicator {
    display: grid;
    place-items: center;
    position: fixed;
    bottom: 20px;
    left: 0;
    right: 0;
  }
  
  .scroll-indicator p {
    margin: 0;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    opacity: 0.5;
    color: #ffffff;
    transition: opacity 0.3s, transform 0.3s;
  }
  
  .scroll-indicator p:hover {
    transform: scale(1.1); /* Un ligero efecto de zoom al pasar el mouse por encima */
    opacity: 0.8; /* Un poco más opaco para el hover */
  }
  
  .line {
    width: 2px;
    height: 100px;
    background-color: #9dc4d3;
    transition: height 0.3s ease-out;
  }
  