.social-icon {
  background: #1a4955;
  padding: 12px;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center; 
  cursor: pointer;
}

.social-icon:hover{
  background: #cccccc79;
  transition: 0.3s ease-in;
}
/* LanguageIcon component */
.language-icon{
  width: 100%;
  height: auto;
  object-fit: contain;
  transition: transform 3s ease-in-out;
}

.language-icon:hover{
  filter: drop-shadow(0 0 0.75rem rgb(107, 107, 107));
  cursor: pointer;
  transform: rotate(60deg); 
}
