.principal-title{
    font-weight: 600;
    background-image: linear-gradient(to right, #a6e9de,#71d7ca, #2aa297);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;  
    display: block; 
    margin-bottom: 10px;
    animation: vanishedIn  1.4s ease-out 0s 1;
}

.h1-title{
    /* Esta es una combinación de colores vibrantes y complementarios */
    font-weight: 600;
    background-image: linear-gradient(to right, #a6e9de,#71d7ca, #2aa297);
    color: transparent; 
    -webkit-background-clip: text;
    background-clip: text;  
    display: block;    
    box-sizing: border-box;
}

.parrafos{
    font-weight: 500;
    background-image: linear-gradient(to right, #a6e9de,#71d7ca, #2aa297);
    color: transparent; 
    -webkit-background-clip: text;
    background-clip: text;  
}



/* Animations */

@keyframes vanishedIn {
    0%{
        opacity: 0;        
    }
    100%{
        opacity: 1;
    }
}

.vanished{
    animation: vanishedIn  1.4s ease-out 0s 1;
}

.fs-one{
    font-size: 2rem;
}

.fs-one-mid{
    font-size: 2.5rem;
}

.fs-two{
    font-size: 3rem;
}
.fs-two-mid{
    font-size: 3.5rem;
}

.fs-tree{
    font-size: 4rem;
}

.fs-tree-mid{
    font-size: 4.5rem;
}

.fs-four{
    font-size: 5rem;
}

.fs-four-mid{
    font-size: 5.3rem;
}

.fs-five{
    font-size: 6rem;
}

