.main-color{
    background-image: linear-gradient(to right, #a6e9de,#71d7ca, #2aa297);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}

.alt-color{
    background-image: linear-gradient(to left, #a6e9de,#71d7ca, #2aa297);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
}
.principal-title{
    font-weight: 600;   
    display: block;
}

.h1-title{
    /* Esta es una combinación de colores vibrantes y complementarios */
    font-weight: 600;   
    box-sizing: border-box;
}

.parrafos{
    font-weight: 500;
}


/* Animations */

@keyframes vanishedIn {
    0%{
        opacity: 0;        
    }
    100%{
        opacity: 1;
    }
}

@keyframes revealText {
    0% {
      clip-path: inset(0 100% 0 0);
      opacity: 0;
    }
    50% {
      clip-path: inset(0 0 0 0);      
    }
    100% {
      clip-path: inset(0 0 0 0);
      opacity: 1;
    }
}

.text-reveal{
    animation:revealText 1.4s ease-in-out forwards;
}
.vanished{
  animation: vanishedIn  1.4s ease-out 0s 1;
}


.fs-one{
    font-size: 2rem;
}

.fs-one-mid{
    font-size: 2.5rem;
}

.fs-two{
    font-size: 3rem;
}
.fs-two-mid{
    font-size: 3.5rem;
}

.fs-tree{
    font-size: 4rem;
}

.fs-tree-mid{
    font-size: 4.5rem;
}

.fs-four{
    font-size: 5rem;
}

.fs-four-mid{
    font-size: 5.3rem;
}

.fs-five{
    font-size: 6rem;
}

.fs-larger{
    font-size: larger;
    margin-bottom: 10px;
}

.fs-medium{
    font-size: medium;

}


