#root {
  max-width: 1280px;
  min-width: 300px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  box-sizing: border-box;
}

.btn-scroll{
  animation: show-scroll linear both;
  animation-timeline: scroll(root);
  animation-range: 0 100px;
}

@keyframes show-scroll {

  from{
    display: none;
  }
  to{
    display: block;
  }
}